<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/style.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="../static/script.js"></script>

	<title>About</title>
</head>

<body>

	<nav id = "nav_box">
		<div class='w-100' id="head_overlay">

			<a href="{{url_for('home')}}" id="TAMID">
				<div class="textBox">
					<p class="Main" id="Title">TAMID</p>
					<p id="at">AT</p>
					<p class="Main">MIT</p>
				</div>
			</a>

			<div class="" id="navbarText">
				<ul class="mr-auto" id="nav_list">
					<li class = "nav-item">
						<a class="nav-link" href="{{url_for('about')}}">About</a>
					</li>
					<li class = "nav-item">
						<a class="nav-link" href="{{url_for('board')}}">Board</a>
					</li>
					<li class = "nav-item">
						<a class="nav-link" href="{{url_for('portal')}}">Portal</a>
					</li>
					<li class = "nav-item">
						<a class="nav-link" href="{{url_for('contact')}}">Contact</a>
					</li>
				</ul>
			</div>

		</div>
	</nav>

	<div class = "container">
		<div class="row my-5" id="">

			<div class="col p-5">
				<h3>What is TAMID?</h3>
				<p>TAMID is a non-profit organization that develops business skills of undergraduate students. Our members gain access to a comprehensive education curriculum, pro-bono consulting for Tel Aviv-based startups, and capital market investment research.</p>
			</div>

			<div class="col p-5">

			</div>
		</div>

		<div class="row my-5" id="">
			<div class="col-4 col-lg py-5 pr-4">
				<img class="img-fluid mt-2" src="../static/images/about photos/tamid.png">
			</div>
			<div class="col-8 col-lg py-5 pl-4">
				<h3>Why TAMID?</h3>
				<p><strong>1000 undergraduate </strong>students each year go on to work in finance and management consulting from MIT</p>
				<p>There are <strong>not enough business-centered clubs</strong> on campus to cater to interested students</p>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-4 col-lg py-5 pr-4">
				<img class="img-fluid mt-2" src="../static/images/about photos/mit.png">
			</div>
			<div class="col-8 col-lg py-5 pl-4">
				<h3>Why MIT?</h3>
				<p>MIT is a <strong>top ranked school</strong> with a motivated and hardworking student body</p>
				<p>MIT is an <strong>innovation hub</strong> and many students & faculty go on to found their own start-ups</p>
				<p>MIT is <strong>surrounded by established TAMID chapters</strong> at universities in the greater Boston area</p>
			</div>
		</div>


	</div>



</body>
</html>