<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../static/script.js"></script>
	<title>TAMID at MIT</title>
</head>

<body>
	<div class="container">
		<div class="row row-third" id="TAMID">
			<div class="col textBox">
				<p class="Main"> TAMID </p>
			</div>
		</div>
		<div class="row row-third bottom" id="AT">
			<div class="col textBox">
				<p class="Main"> AT </p>
			</div>
		</div>
		<div class="row row-third bottom" id="MIT">
			<div class="col textBox">
				<p class="Main"> MIT </p>
			</div>
			<div class="col" id="CtoC">
				<p> Click Anywhere to Continue </p>
			</div>
		</div>
	</div>
</body>

</html>