<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/style.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="../static/script.js"></script>

	<title>Members</title>
</head>

<body>

	<nav id = "nav_box">
		<div class='w-100' id="head_overlay">

			<a href="{{url_for('home')}}" id="TAMID">
				<div class="textBox">
					<p class="Main" id="Title">TAMID</p>
					<p id="at">AT</p>
					<p class="Main">MIT</p>
				</div>
			</a>

			<div class="" id="navbarText">
				<ul class="mr-auto" id="nav_list">
					<li class = "nav-item">
						<a class="nav-link" href="{{url_for('about')}}">About</a>
					</li>
					<li class = "nav-item">
						<a class="nav-link" href="{{url_for('board')}}">Board</a>
					</li>
					<li class = "nav-item">
						<a class="nav-link" href="{{url_for('portal')}}">Portal</a>
					</li>
					<li class = "nav-item">
						<a class="nav-link" href="{{url_for('contact')}}">Contact</a>
					</li>
				</ul>
			</div>

		</div>
	</nav>

	<div class = "container">
		<div class="row my-5">

			<div class = "col pt-5">

				<ul style = "padding-inline-start:0px;">
					{% for member in members %}
					<li class = "list-group-item member" >
						<p class="my-0">Name: <span class="names">{{member[0]}}</span></p>
						<p class="my-0"> Password: <span class="passwords">{{member[1]}}</span></p>
					</li>
					{% endfor %}
				</ul>

				<form action="/portal" method = "POST" class="my-2" id="rmv_member">
					<div class="">
						<button id="rmv_mems" class="portal portal_btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">
						  Remove Members
						</button>
					</div>
					<input hidden type="text" name="action" value="Remove Member">
					<input hidden class="my-3" name="Name" value="" id="rmv_name">
				</form>

			</div>

		</div>
	</div>

	
</body>
</html>
